*.o
*.a
*.dep
peeph*.rul
SDCCy.c
SDCCy.h
SDCCy.output
SDCClex.c
Makefile.common
as/mcs51/Makefile
as/z80/as
bin/
config.cache
config.log
config.status
main.mk
ports.all
ports.build
sdccconf.h
src/Makefile
support/cpp2/Makefile
support/cpp2/auto-host.h
support/cpp2/configargs.h
support/cpp2/cstamp-h
